@model Website1.Models.user

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="~/assets/images/image1.png" width="100%">
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

